<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Admin interface</h1>
    <p>Herein you can: review calculations; edit email templates; and modify email API details.</p>
  </div>
</div>

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
  <mat-card fxFlex>
    <mat-card-title>
      <a mat-raised-button color="primary" routerLink="risk-res-values" routerLinkActive="active" style="width: 100%">
        <i class="icon-mail"></i> View calculations
      </a>
    </mat-card-title>
    <mat-card-content>See what people entered; and their resultant risk</mat-card-content>
  </mat-card>

  <mat-card fxFlex>
    <mat-card-title>
      <a mat-raised-button color="warn" routerLink="/admin/email" routerLinkActive="active" style="width: 100%">
        <i class="icon-mail"></i> Manage email and social
      </a>
    </mat-card-title>
    <mat-card-content>Edit email and social templates, modify authentication details</mat-card-content>
  </mat-card>

  <mat-card fxFlex>
    <mat-card-title>
      <button mat-raised-button color="accent" routerLink="/admin/users" routerLinkActive="active" style="width: 100%">
        <i class="icon-users"></i>Users
      </button>
    </mat-card-title>
    <mat-card-content>View/search users</mat-card-content>
  </mat-card>
</div>
