<button routerLink="/" mat-button>⇦ back</button>

<mat-card>
  <mat-card-content>
    <app-date-range [startDatetimeInput]="selectedMoments[0].toDate()" [endDatetimeInput]="selectedMoments[1].toDate()">
    </app-date-range>
  </mat-card-content>
</mat-card>

<div *ngIf="!pyAnalyticsData">
  <pre>
    {{notFoundDateRange ? "Try a different date-range." : "Python API endpoint not working, see console."}}
  </pre>
</div>

<div fxLayout="row" style="padding: 30px 0" fxLayoutGap="20px" *ngIf="pyAnalyticsData">
  <!--  <div fxFlex="40">

  <form [formGroup]="group">
    <mat-form-field>
      <mat-placeholder>Start DateTime</mat-placeholder>
      <mat-datetimepicker-toggle [for]="datetimePicker" matSuffix></mat-datetimepicker-toggle>
      <mat-datetimepicker #datetimePicker type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
      <input matInput formControlName="start" [matDatetimepicker]="datetimePicker" required autocomplete="false">
    </mat-form-field>
  </form>-->
  <!--
  <label for="daterange">Datetime range (click, then¡ press 'Set' to modify):</label>
  <input [(ngModel)]="selectedMoments" [selectMode]="'range'"
         [owlDateTimeTrigger]="date_range_component" [owlDateTime]="date_range_component"
         style="width: 100%; color: cornflowerblue"
         id="daterange" matInput>
  <owl-date-time #date_range_component></owl-date-time>

</div>
  -->

  <!--
  <input [matDatepicker]="pickerStart" id="start" fxFlex="30">
  <mat-datepicker type="datetime" clockStep="5" #pickerStart></mat-datepicker>
  -->
  <div fxFlex="100" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
    <mat-card fxFlex>
      <mat-card-content fxFlex>
        <p>Of the {{pyAnalyticsData.survey_count}} entries:</p>
        <dl>
          <dt>step 1 only</dt>
          <dd>{{pyAnalyticsData.step1_count}}</dd>

          <dt>step 2 only</dt>
          <dd>{{pyAnalyticsData.step2_count}}</dd>

          <dt>step 3 only</dt>
          <dd>{{pyAnalyticsData.step3_count}}</dd>

          <dt>some_combination</dt>
          <dd>{{pyAnalyticsData.some_combination}}</dd>

          <dt>finished all 3</dt>
          <dd>{{pyAnalyticsData.all_steps}}</dd>
        </dl>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex>
      <mat-card-content fxFlex>
        <p>Some notable statistics:</p>
        <dl>
          <dt>completed the final step</dt>
          <dd>{{pyAnalyticsData.all_steps}}, i.e.: {{pyAnalyticsData.completed.toPrecision(5)}}%</dd>

          <dt>converted (provided their emails)</dt>
          <dd *ngIf="pyAnalyticsData.email_conversion">
            {{pyAnalyticsData.emails}}, i.e.: {{pyAnalyticsData.email_conversion.toPrecision(5)}}%
          </dd>
          <dd *ngIf="!pyAnalyticsData.email_conversion">234.000 &dagger;
            <p>&dagger;in OPSM event (Monday 11/03/2019 from 8:30AM to 3:30PM AEST)</p>
          </dd>
        </dl>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<div fxLayout="column">
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px"
       *ngIf="riskResTable != null && riskResTable.data.length" fxFlex>
    <mat-card fxFlex>
      <mat-card-title>Calculations</mat-card-title>
      <mat-card-content>
        <h1>{{step2.count}}</h1>
        <h3>From: {{selectedMoments[0]}}</h3>
        <h3>Until: {{selectedMoments[1]}}</h3>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex>
      <mat-card-title>Ethnic distribution</mat-card-title>
      <mat-card-content class="hw-100">
        <ngx-charts-pie-chart fxFlex [labels]="true" [results]="ethnicityAgg"
                              style="text-align: left">
        </ngx-charts-pie-chart>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex>
      <mat-card-title>Age distribution</mat-card-title>
      <mat-card-content class="hw-100">
        <ngx-charts-line-chart fxFlex [results]="ageDistribution"
                               [yAxis]="true"></ngx-charts-line-chart>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px"
       style="padding: 30px 0;"
       *ngIf="step2multiSeries != null" fxFlex>
    <mat-card fxFlex="80">
      <mat-card-title>Stratified risk (area chart)</mat-card-title>
      <mat-card-content class="hw-100">
        <ngx-charts-area-chart-normalized
          [results]="step2multiSeries"
          [legend]="true"
          [tooltipDisabled]="true">
        </ngx-charts-area-chart-normalized>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex="20">
      <mat-card-title>Stratified risk (numbers)</mat-card-title>
      <mat-card-content fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex style="background: #AF667D; text-align: center;">
          <h2 style="color: whitesmoke">{{step2.least}}</h2>
        </div>
        <div fxFlex style="background: #9BB5E6;text-align: center;">
          <h2>{{step2.average}}</h2>
        </div>
        <div fxFlex style="background: #B099B7;text-align: center;">
          <h2 style="color: whitesmoke">{{step2.high}}</h2>
        </div>
        <div fxFlex style="background: #C4E7F5;text-align: center;">
          <h2>{{step2.greatest}}</h2>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px"
       *ngIf="step2 != null" fxFlex>
    <mat-expansion-panel fxFlex *ngFor="let row_wise of rowWiseStats.column | keyvalue">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Stats for {{row_wise.key}}
        </mat-panel-title>
        <mat-panel-description>
          Avg, max, &etc.
        </mat-panel-description>
      </mat-expansion-panel-header>

      <dl *ngFor="let column of rowWiseColumns">
        <dt>{{column}}</dt>
        <dd *ngIf="column !== 'ttest' else elseBlock">
          {{row_wise.value[column]}}
        </dd>
        <ng-template #elseBlock>
          <dd>
            <code *ngFor="let item of row_wise.value[column]| keyvalue">
              {{ item.key | json }}: {{ item.value | json }}
            </code>
          </dd>
        </ng-template>
      </dl>
    </mat-expansion-panel>
  </div>
</div>

<div fxLayout="row" class="mat-elevation-z8 hw-100" style="margin-top: 30px" *ngIf="riskResTable != null">
  <mat-tab-group selectedIndex="1" class="hw-100">
    <mat-tab label="Step 1 & [maybe] step 3">
      <app-survey-data [dataSource]="surveyTable"></app-survey-data>
    </mat-tab>
    <mat-tab label="Step 2">
      <app-risk-res-data [dataSource]="riskResTable"></app-risk-res-data>
    </mat-tab>
    <mat-tab label="Joint steps 1&ndash;3"> TODO: show this</mat-tab>
  </mat-tab-group>
</div>
