<table mat-table [dataSource]="dataSource">
  <!-- id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> id</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>


  <!-- client_risk Column -->
  <ng-container matColumnDef="client_risk">
    <th mat-header-cell *matHeaderCellDef> client_risk</th>
    <td mat-cell *matCellDef="let element"> {{element.client_risk}} </td>
  </ng-container>

  <!-- age Column -->
  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef> age</th>
    <td mat-cell *matCellDef="let element"> {{element.age}} </td>
  </ng-container>

  <!-- gender Column -->
  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef> gender</th>
    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
  </ng-container>

  <!-- ethnicity Column -->
  <ng-container matColumnDef="ethnicity">
    <th mat-header-cell *matHeaderCellDef> Ethnicity</th>
    <td mat-cell *matCellDef="let element"> {{element.ethnicity}} </td>
  </ng-container>

  <!-- parent Column -->
  <ng-container matColumnDef="parent">
    <th mat-header-cell *matHeaderCellDef> parent</th>
    <td mat-cell *matCellDef="let element"> {{element.parent}} </td>
  </ng-container>

  <!-- sibling Column -->
  <ng-container matColumnDef="sibling">
    <th mat-header-cell *matHeaderCellDef> sibling</th>
    <td mat-cell *matCellDef="let element"> {{element.sibling}} </td>
  </ng-container>

  <!-- study Column -->
  <ng-container matColumnDef="study">
    <th mat-header-cell *matHeaderCellDef> study</th>
    <td mat-cell *matCellDef="let element"> {{element.study}} </td>
  </ng-container>

  <!-- myopia Column -->
  <ng-container matColumnDef="myopia">
    <th mat-header-cell *matHeaderCellDef> myopia</th>
    <td mat-cell *matCellDef="let element"> {{element.myopia}} </td>
  </ng-container>

  <!-- diabetes Column -->
  <ng-container matColumnDef="diabetes">
    <th mat-header-cell *matHeaderCellDef> diabetes</th>
    <td mat-cell *matCellDef="let element"> {{element.diabetes}} </td>
  </ng-container>

  <!-- createdAt Column -->
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef> createdAt</th>
    <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
  </ng-container>

  <!-- updatedAt Column -->
  <ng-container matColumnDef="updatedAt">
    <th mat-header-cell *matHeaderCellDef> updatedAt</th>
    <td mat-cell *matCellDef="let element"> {{element.updatedAt}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
