@import '~@mat-datetimepicker/core/datetimepicker/datetimepicker-theme.scss';

@import '~@angular/material/theming';

@include mat-core();

$glaucoma-risk-calculator-web-frontend-primary: mat-palette($mat-deep-orange);
$glaucoma-risk-calculator-web-frontend-accent: mat-palette($mat-pink, A200, A100, A400);

$glaucoma-risk-calculator-web-frontend-warn: mat-palette($mat-red);

$glaucoma-risk-calculator-web-frontend-theme: mat-light-theme($glaucoma-risk-calculator-web-frontend-primary, $glaucoma-risk-calculator-web-frontend-accent, $glaucoma-risk-calculator-web-frontend-warn);

@include angular-material-theme($glaucoma-risk-calculator-web-frontend-theme);

@include mat-datetimepicker-theme($glaucoma-risk-calculator-web-frontend-theme);
